<div id="home"></div>
<div id="wrap">
  <%= render partial: 'story' %>
  <%= render partial: 'map' %>
  <%= render partial: 'timeline' %>
  <%= render partial: 'party' %>
  <%= render partial: 'registry' %>
  <%= render partial: 'rsvp' %>
</div>

