<div id="home">
  <div id="home-title"></div>
  <!-- <div id="home-subtitle"> July 9th, 2016 </div> -->
  <div id="home-img"></div>
</div>
<div id="wrap">
  <%= render partial: 'story' %>
  <%= render partial: 'map' %>
  <%= render partial: 'timeline' %>
  <%= render partial: 'party' %>
  <%= render partial: 'registry' %>
  <%= render partial: 'rsvp' %>
</div>

