<div id="home">
  <div id="home-title"></div>
  <div id="home-subtitle"></div>
  <div id="home-img"></div>
</div>
<div id="wrap">
  <%= render partial: 'story' %>
  <!--  <div class="divider"></div> -->
  <%= render partial: 'map' %>
   <div class="divider"></div>
  <%= render partial: 'timeline' %>
   <div class="divider"></div>
  <%= render partial: 'party' %>
   <div class="divider"></div>
  <%= render partial: 'registry' %>
   <div class="divider"></div>
  <%= render partial: 'rsvp' %>
</div>

